rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // -------- USERS --------
    match /users/{uid} {
      allow read: if request.auth != null;
      allow create: if request.auth.uid == uid;

      // Only user can update own profile except role & status
      allow update: if request.auth.uid == uid
        && !( "role" in request.resource.data || "status" in request.resource.data );

      // Only HOD can activate users
      allow update: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "hod";
    }

    // -------- APPROVAL QUEUE --------
    match /approvals/{uid} {
      allow create: if request.auth.uid == uid;

      allow read: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ["staff","hod"];

      allow delete: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ["staff","hod"];
    }

    // -------- NOTES --------
    match /notes/{noteId} {
      allow read: if resource.data.status == "approved";

      allow create: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "staff";

      allow update: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "hod";

      allow delete: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "hod";
    }

    // -------- ATTENDANCE --------
    match /attendance/{session}/records/{record} {
      allow create: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "staff";

      allow read: if request.auth != null;
    }

    // -------- SYLLABUS --------
    match /syllabus/{id} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "hod";
    }
  }
}
